// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

/* colors */

// title
$titlebar-bg-color: #3f51b5;
$titlebar-font-color: #ffffff;

// main
$main-bg-color: #efeff4;

// flow
$cur-flowname-color: #99d2ff;
$flow-bg-color: #d0cece;
$flowing-dot-color: #70ad47;
$flow-btn-color: #4472c4;
$compute-num-color: #ffc000;

$flow-one-bg-color: #7171cb;
$flow-two-bg-color: #7171cb;
$flow-three-bg-color: #7171cb;

// pile
$pilelist-type-color: #0a8fff;
$pilelist-local-color: #6981db;

/* border-radius */
$radius-m: 5px;

// login-title
$login-title-color: white;
